Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Windows/S_C_Final_Project2/Content/Paks/S_C_Final_Project2-Windows.ucas
